body {
    font-family:Helvetica;
    color: gray;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: none;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    background-color: white;
    box-shadow: 0px 15px 14px -12px black;
}

.title-container > h1 {
    font-weight: bold;
    font-style: italic;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > p {
    text-align: center;
    margin: 20px;
}

label[for="read-more"] {
    text-align: center;
    font-weight: bold;
    height: 30px;
    width: 100px;
    background-color: lightgray;
    color: white;
}

#read-more {
    visibility: hidden;
}

.read-more-text {
    display: none;
}

#read-more:checked + .read-more-text {
    display: block;
}

main > a {
    background-color: lightgray;
    color: white;
    font-weight: bold;
    width: 130px;
    text-align: center;
    margin-bottom: 20px;
}

main > ul li {
    position: relative;
    height: fit-content;
    width: 100vw;
    border-bottom: 2px black dashed;
    margin-bottom: 20px;
}

main > ul li > label {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}

main > ul li > input[type="radio"] {
    visibility: hidden;
}

main > ul li > article {
    display: none;
    width: 100vw;
    padding: 5px;
}

input[type="radio"]:checked + article {
    display: block;
}

@media screen and (min-width: 400px) {
    
    .title-container {
        top: 0;
        z-index: 1000;
        position: fixed;
    }

    nav {
        display: block;
        width: 100%;
        margin-top: 100px;
    }

    nav > ul {
        display: flex;
        justify-content: space-around;
    }

    nav ul > li > a {
        background-color: gray;
        color: white;
    }

    label[for="read-more"] {
        display: none;
    }

    .read-more-text {
        display: block;
    }

   main > ul > li > article {
        display: block;
    }
}

@media screen and (min-width: 800px) {
    nav {
        background-color: gray;
    }
    
    main > ul > li > article {
        display: flex;
        padding: 10px 50px;
    }

    main > ul > li > article > img {
        height: 200px;
        margin-right: 20px;
    }
}